/* ------------------------ Página de crear podcast ------------------------- */

/* Aquí solo se usa un media query a partir del breakpoint de tablet para añadir un borde redondeado de color igual que el primary, tambien cambia el tamaño del titulo de la pagina. */

.uploadPodcastTitle{
    font-size: 2em;
}

@media (min-width: 768px) {

    .uploadPodcastContainer {
        border: 3px solid #0477bf;
        border-radius: 25px;
    }

    .uploadPodcastTitle{
        font-size: 2.5em;
    }
    
}